<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <h2>Nica Spa</h2>
    <p class="lead">
      NicaSpa is web app where you can do appointments to get a massage at your
      home. You just have to type all the information needed and pay, and that's
      it (:
    </p>
  </div>
</section>