<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card bg-black text-white">
      <div class="card-header pt-5">
        <h4 class="text-center">
          Account Verification
        </h4>
      </div>
      <div class="card-body">
        <form action="/auth/activateAccount" method="POST">
          <div class="mb-3">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control bg-dark text-white"
              name="email"
              placeholder="Email"
              value="{{email}}"
            />
          </div>
          <div class="mb-3">
            <label for="verificationCode">Verification Code</label>
            <input
              type="number"
              class="form-control bg-dark text-white"
              name="verificationCode"
              placeholder="verificationCode"
              value="{{otp}}"
            />
          </div>
          <button class="btn btn-success btn-block">
            Activate Account
          </button>
        </form>
      </div>
      <p class="text-center">Did Not Get A Code?
        <a href="/auth/resendCode" class="text-info">Resend Code</a></p>
    </div>
  </div>
</div>